
.title {
  color: #2ecc71; /* Màu xanh lá (Emerald) - Tươi mới hơn màu RoyalBlue cũ */
}

h2 {
  color: #e67e22; /* Màu cam cà rốt - Thay cho màu DarkOrange cũ */
}


#special {
  color: #9b59b6; /* Màu tím thạch anh - Thay cho màu Tomato cũ */
}